.container {
    display: flex;
    flex-direction: column;
    
}

.people-list {
    margin: 10px auto;
    width: 200px;
    height: auto;
    border: 2px solid black;
    vertical-align: middle;
    text-align: center;
    white-space: pre-line;
    font-weight: 600;
}